body{
    background-color:black;
    color: aliceblue;
}

.flex-container {
    border: 15px solid #eeeeee; 
    background-color: #0088cc;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: 600px;
}

.box {
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 200px;
    line-height: 200px; /* centrar altura de texto en box */
    text-align: center; /* centrar ancho de texto en box */
    margin: 5px;
}

.b1{
    background-color:darkkhaki ;
}

.b2{
    background-color:lightgreen
}

.b3{
    background-color:indianred
}