* {
    margin: 0px;
    padding: 0px; /* margen interior dentro de una caja */
}

body{
    background-color: #131313;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif
}

#container {   /* id no se puede repetir */
    /* width: 70%; */
    width: 1000px;
    height: 900px;
    margin: 0px auto;
    border: 1px solid whitesmoke
}

header /* nombre unico que aplica a todos */{
    background-color: #2b2b2b; /* fondo de la página */
    color: aliceblue; /* color del texto */
    height: 100px; /* altura */
    width: 100%; /* anchura */
    margin: 0px; /* margen del contenido */
    /* text-align: center; */ /* centra texto */
    line-height: 100px; /* centrar la altura */
    border-top: 3px white; /* borde de arriba */
    border-bottom: 3px dashed white; /* borde de abajo */
    border-left: 12px  white; /* borde de la izqueirda */
    border-right: 16px  white; /* borde de la derecha */
}

nav{
    background: #0088cc;
    height: 40px;
    line-height: center; /* centrar la altura */
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
}

a{
    color:aliceblue;
    text-decoration: none;
}

.clearfix{
    clear:both;
}

#content {
    float:left;
    width: calc(80% - 60px); 
    min-height: 550px;
    background: #eeeeee;
    padding: 30px;
}

.article {
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #0088cc;
}

.article:first-child {
    border-top: 1px solid #0088cc;
    padding-top: 10px;
}

.article h2 {
    font-size: 25px;
}
aside {
    float:left;
    width: calc(20% - 20px);
    background: #979797;
    min-height: 590px;
    padding: 10px;
}

footer{
    background: #666666;
    text-align: center;
    height: 50px;
    line-height: 50px;
}